@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

.card {
  box-shadow: 0 5px 10px 0 #888888;
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color:white;
  font-family: arial;
}

.title {
  color: black;
  font-size: 18px;
}
.card h2:hover{
  color: #888888;
}
.fa:hover{
  color: #888888;
}


.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
.card:hover{
  box-shadow: 10px 10px 10px 1px rgba(0.01, 0.01, 0.1, 0.4);
}
.mar a {
 padding: 5px;
}
.mar{
  margin-top: 20px;
}



body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color:rgba(238, 230, 230, 0.4);
}

.Text{
    color: white;
    margin-top:37vh;
    text-align: center;
    margin-left: 315px;

}
.up .Text h2{
    
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding-left: 5px;
    
}
.up .Text p{
    
    font-size: 22px;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.up{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(img/swapnil-dwivedi-mK2fnT6frE0-unsplash.jpg);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0%;
    display:flex;
    position:relative;
    
}



.up .sidebar{
    background: rgba(0.01, 0.01, 0.1, 0.4);
    position: fixed;
    width: 200px;
    height: 100%;
    padding: 30px 0px;
    font-weight: 600;
   
   
}

.up .sidebar h2{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    
}
.up .sidebar ul{
    padding: 0;
    margin:0;
}
.up .sidebar ul li{
    list-style-type:none;
    padding: 30px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
}
.up .sidebar ul li a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
}
.up .sidebar ul li a .fas{
    width: 25px;
}
.up .sidebar ul li:hover{
    background-color: gainsboro;
    
}
.up .sidebar ul li a:hover {
  color: black;
}
.sidebar{
  border-right: 1px solid #333;
}


  ::selection {
    /*background-color: #F8B600;*/
    color: #fff;
  }
  
  a {
    text-decoration: none;
  }
  /* background image*/
  
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    padding: 15px;
    color: rgba(0.01, 0.01, 0.1, 0.4);
    font-family: 'Ubuntu Condensed', sans-serif;

  }
  h1:hover {
    border: 5px solid rgba(0.01, 0.01, 0.1, 0.4);
    border-radius: 50%;
    color: white;
    background-color: rgba(0.01, 0.01, 0.1, 0.4);
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  
  
  /* team images*/
  .other-issue-area {
    height: 500px;
    background-size: cover;
    padding: 40px 0;
  }
  
  .other-issue-area .row:nth-of-type(2) {
    width: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    
    
  }
  
  
  .row {
      width:  50%;
      margin-left: 29%;
  }
  


  .footer-area {
    background: rgba(32, 32, 32, 0.5);
    padding-top: 0px;
    margin-left: 200px;
    margin-top: 35%;
  }
  .d-flex {
    display: flex !important;
  }
  .footer-bottom {
    padding-top: 40px;
    margin-top: 20px;
  }
  .footer-text {
    color: #fff;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 18px;
    padding-left: 7px;
  }
  .footer-social{
    width: 190px;
    padding-right: 0%;
  }
  .justify-content-center {
    justify-content: center;
  }
  .footer-social i {
    color: white;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .footer-social a :hover {
    color: black;
  }
  .footer-social a {
    width: 20px;
    width: 40px;
    display: inline-table;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    padding-right: 0%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
 
  